<!-- #f Variavel Local-->
<form #f="ngForm" (ngSubmit)="onSubmit(f)">
  <div class="form-group"
     [class.has-error]="nome.touched && !nome.valid"
     [class.has-feedback]="nome.touched && !nome.valid">
    <label class="control-label" for="nome">Nome</label>
    <input type="text" class="form-control" id="nome" placeholder="Nome" 
      name="nome" aria-describedby="nomeError" [(ngModel)]="usuario.nome" required #nome="ngModel">
    <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" *ngIf="nome.touched && !nome.valid"></span>
    <span id="nomeError" class="sr-only" *ngIf="nome.touched && !nome.valid">(error)</span>
    <!-- Verificar Classes do Elemento
      <div>{{ nome.className }}</div>
      -->
    <div class="alert alert-danger" role="alert"
       *ngIf="nome.touched && !nome.valid">Preenchimento do nome obrigatório!
    </div>
  </div>
  <div class="form-group">
    <label for="email">E-mail</label>
    <input type="email" class="form-control"
      id="email" placeholder="nome@email.com" 
      name="email" [(ngModel)]="usuario.email" required
      email #email="ngModel"
      >
      <!-- pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$"
       no angular4 apenas email -->
      <div class="alert alert-danger" role="alert"
       *ngIf="email.touched && !email.valid">E-mail inválido!
      </div>
  </div>
  <button type="submit" class="btn btn-primary" 
    [disabled]="!f.valid">Submit</button>

  <app-form-debug [form]="f"></app-form-debug>
</form>