<h1>
  {{title}}
</h1>
<!--app-ngcontent>
  Conteúdo passado para o componente
  <app-ngcontentexemplo></app-ngcontentexemplo>
</app-ngcontent-->
<app-ngcontent>
  <div class="titulo">
    Título Principal (ng-content)
  </div>
  <div class="corpo">
    Conteúdo passado para o componente
    <h5>Exemplo Passagem de outro Componente pelo ng-componente</h5>
    <app-ngcontentexemplo></app-ngcontentexemplo>
  </div>
  <div class="corpo">
    Conteúdo passado para o componente Concatenado por ter Duas Referências
  </div>
</app-ngcontent>
