<h5>Exemplos de Pipes</h5>

<p>Título: {{ livro.titulo | uppercase | lowercase | camelCase }}</p>
<p>Estrelas: {{ livro.rating | number:'2.1-2' }}</p>
<p>Páginas: {{ livro.numeroPaginas | number }}</p>
<p>Preço: {{ livro.preco | currency:'BRL':true }}</p>
<p>Data Lançamento: {{ livro.dataLancamento | date:'dd-MM-yyyy' }}</p>
<p>Ulr: {{ livro.url }}</p>
<br>
<p>Livro: {{ livro | json }}</p>

<br>
<input type="text" #novoValor>
<button (click)="addCurso(novoValor.value)">Add Curso</button>

<br>
<input type="text" [(ngModel)]="filtro">

<!--Exemplo de Pipe Puro (Não Olha para as Modificações)-->
<ul>
    <li *ngFor="let l of livros | filtroArray:filtro">
        {{ l }}
    </li>
</ul>