<h5>*ngSwitch</h5>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" (click)="aba = 'home'" [class.active]="aba == 'home'">
        Home
      </a>
      <a class="navbar-brand" (click)="aba = 'feat'" [class.active]="aba == 'feat'">
        Features
      </a>
      <a class="navbar-brand" (click)="aba = 'list'" [class.active]="aba == 'list'">
        Pricing
      </a>
    </div>
  </div>
</nav>
<div class="container" [ngSwitch]="aba">
  <p *ngSwitchCase="'home'">Modo Home Ativados</p>
  <p *ngSwitchCase="'feat'">Modo Feature Ativados</p>
  <p *ngSwitchDefault>Modo Pricing Ativados</p>
</div>

<h5>*ngSwitch com Template</h5>
<span>No exemplo é apenas "template", contudo devido a mensagem DEPRECATE atualizei para on-template</span>
<div class="container" [ngSwitch]="aba">
  <ng-template [ngSwitchCase]="'home'">
    <p>Modo Home Ativados</p>
  </ng-template>
  <ng-template [ngSwitchCase]="'feat'">
    <p>Modo Feature Ativados</p>
  </ng-template>
  <ng-template [ngSwitchCase]="'list'" ngSwitchDefault>
    <p>Modo Pricing Ativados</p>
  </ng-template>
</div>

