<div *ngIf="mostrarErro">
  <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
  <span id="nomeError" class="sr-only">(error)</span>
  <div class="alert alert-danger" role="alert">{{ mensagemErro }}</div>
</div>
<div *ngIf="mostrarSucesso">
  <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
  <span id="nomeSucesso" class="sr-only">(error)</span>
  <div class="alert alert-success" role="alert">{{ mensagemErro }}</div>
</div>