<h5>*ngFor</h5>
<div>
  <ul>
    <li *ngFor="let curso of cursos">
      {{ curso }}
    </li>
  </ul>
</div>
<h5>*ngFor com Index</h5>
<div>
  <ul>
    <li *ngFor="let curso of cursos, let i = index">
      Curso Posição {{ i+1 }} - {{ curso }}
    </li>
  </ul>
</div>
<h3>ngFor Utilizando Template (Funcionamento Por Trás dos Panos)</h3>
<span>No exemplo é apenas "template", contudo devido a mensagem DEPRECATE atualizei para on-template</span>
<div>
  <ul>
    <li ng-template="ngFor let curso of cursos, let i = index">
      Curso Posição {{ i+1 }} - {{ curso }}
    </li>
  </ul>
</div>
<div>
  <ul>
    <ng-template ngFor [ngForOf]="cursos" let-curso let-i="index">
      <li>
        Curso Posição {{ i+1 }} - {{ curso }}
      </li>
    </ng-template>
  </ul>
</div>