<section class="property-binding">
  <article>
    <h3>Interpolation / Interpolação</h3>
    <p>String renderizada com interpolação: {{ url }}</p>
    <p>Resultado de 1 + 1 é {{ 1 + 1 }}</p>
    <p>Resultado de 1 + 1 não é {{ 1 + 1 + getValor() }}</p>
    <p>Curso de Angular em andamento: {{ cursoAngular && getCurtirCurso() }}</p>
  </article>
  <article>
    <h3>Property Binding</h3>
    <img src="{{ urlImagem }}"> <!--Interpolação -->
    <img [src]="urlImagem">     <!-- Property Binding -->
    <img bind-src="urlImagem">  <!-- Por trás do [src] do Property Binding -->
    <!-- Quando não existe uma propriedade no elemento, usa-ser [attr.colspan]-->
  </article>
</section>