<h5>Styles com property binding (style binding)</h5>
<button class="btn"
  [style.backgroundColor]="ativo ? 'blue' : 'gray'"
  [style.color]="ativo ? 'white' : 'black'"
  [style.fontWeight]="ativo ? 'bold' : 'normal'"
  [style.fontSize]="tamanhoFonte + 'px'"
  (click)="ativar()"
>
Mudar atributo 'ativo'
</button>
<input type="text" [(ngModel)]="tamanhoFonte">
<br>
<br>
<h5>Styles com diretiva ngStyle</h5>
<button class="btn"
  [ngStyle]="{
    'backgroundColor': (ativo ? 'blue' : 'gray'),
    'color': (ativo ? 'white' : 'black'),
    'fontWeight': (ativo ? 'bold' : 'normal'),
    'fontSize': (tamanhoFonte + 'px')
  }"
  (click)="ativar()"
>
Mudar atributo 'ativo'
</button>