<p fundoAmarelo>
  Texto com fundo amarelo
</p>
<button fundoAmarelo>
  Botão com fundo amarelo
</button>
<p highlightMouse>
  Texto com fundo amarelo quando passo o mouse
</p>
<!--p highlight [defaultColor]="'grey'" [highlightColor]="'red'">
  Texto com Highlight com cores customizadas.
</p-->
<p [highlight]="'red'" [defaultColor]="'grey'">
  Texto com Highlight com cores customizadas.
  Código mais clean
</p>

<section>
  <div *ngIf="mostrarCursos">
    Mostrar Cursos
  </div>
  <div *ngIf="!mostrarCursos">
    Não Mostrar Cursos
  </div>
</section>

<section>
  <div *ngIf="mostrarCursos">
    Mostrar Cursos (nfElse Customizado)
  </div>
  <div *ngElse="mostrarCursos">
    Não Mostrar Cursos (nfElse Customizado)
  </div>
</section>
<div>
  <button (click)="onExibirCursos()">Mostrar ou Esconder</button>
</div>
